@model NL.Models.Sample

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sample</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Compound.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compound.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SequenceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SequenceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concentration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concentration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight_mg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight_mg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SampleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
