@{
    ViewBag.Title = "My Orders";
    ViewBag.statusBar = 0;
}
<h3>@ViewBag.Title</h3>
<h5>Customer: @ViewBag.userFullName</h5>
<div class="row">
    @foreach (var order in ViewBag.Orders)
    {
        <h4 class="order-title">ORDER NUMBER: @order.WorkOrderID</h4>
        foreach (var compound in ViewBag.Compounds)
        {
            if (compound.WorkOrderID == order.WorkOrderID)
            {
                <div class="compound">
                    <div class="compound-name">@compound.Name <span style="font-size: 16px; color: #777">LT#: @compound.LTNum</span></div>
                    <div class="compound-date">Date Received: @compound.DateArrived</div>
                    <div class="compound-appearance">@compound.Appearance</div>
                    @Html.ActionLink("View Sample Results", "Index", "Samples", new { AssayID = compound.LTNum }, new { @class = "btn btn-secondary outline btn-sm" })
                </div>
            }
        }
        foreach (var status in ViewBag.Statuses)
        {
            if (status.StatusID == order.StatusID)
            {
                <div>Order Status: @status.StatusDescription</div>
                <div>Estimated Completion Date: @order.DueDate</div>
            }
        }
        if (order.StatusID == 1)
        {
            ViewBag.statusBar = 0;
        }
        else if (order.StatusID == 2)
        {
            ViewBag.statusBar = 50;
        }
        else if (order.StatusID == 3)
        {
            ViewBag.statusBar = 1000;
        }
        <div class="status-bar">
            <div class="status-bar-filler" style="width: @ViewBag.statusBar%"></div>
        </div>
        <br /> <br />
    }
</div>